@charset "UTF-8";
/* === Nomalize CSS === */
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

/* === Reset CSS === */
body {
  width: 100%;
  margin: 0 auto;
  letter-spacing: -0.025rem;
  font-family: 'Nanum Gothic', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
p,
table {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
}

header,
main,
footer,
section,
article,
aside,
nav {
  display: block;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a img {
  border: none;
}

img {
  vertical-align: middle;
}

li {
  list-style: none;
}

address,
em,
i,
cite {
  font-style: normal;
}
button {
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
}
fieldset {
  border: none;
}

/* === 기본스타일 === */
$font-color: #1d1720;
$point-color: #423148;
$sub-color: #a28ec9;

html {
  font-size: 10px;
}

body {
  min-width: 320px;
  font-size: 1.6rem;
  line-height: 1.3;
  /* overflow: hidden; */
}

.wrap-1200 {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}
h2 {
  display: inline-block;
  margin: 50px 0;
  font-size: 3.2rem;
  text-align: center;
  color: $font-color;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* === 스킵네비게이션 === */
.skip-nav a {
  position: fixed;
  top: -100%;
  z-index: 9999;
  display: block;
  width: 100%;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #fff;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  background: #14182c;
}

.skip-nav a:focus {
  top: 0;
}

.w50p {
  width: 50%;
}
