$font-color: #1d1720;

body {
  transition: all 1s;
}

/* === MAIN === */
main {
  .main-bg {
    position: absolute;
    top: -100px;
    left: -100px;
    z-index: 0;
    width: calc(100% + 200px);
    height: calc(100% + 200px);
    object-fit: cover;
    opacity: 0.9;
    transition: all 0.3s linear 0s;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(#fff, #423148);
  h1 {
    position: absolute;
    color: $font-color;
    font-size: 4rem;
    font-weight: 400;
    text-shadow: 0 0 40px #e3d0eb;
    opacity: 0;
    line-height: 1.4;
    animation: 0.5s linear 0.5s forwards main-text;
  }
  .main-keyword {
    padding-right: 5px;
    font-weight: 600;
    // border-right: 1px solid red;
    animation: 0.6s linear infinite keyword-typing-effect;
  }
}

.main-bg-smoke-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main-bg-smoke {
  position: absolute;
  width: 300vw;
  height: 100vh;
  background: url('../images/smoke.png') center center repeat-x;
  background-size: cover;
}

.main-bg-smoke.first {
  animation: 30s linear 0s infinite alternate smoke-move;
  opacity: 0.2;
}
.main-bg-smoke.second {
  animation: 20s linear 0s infinite alternate smoke-move;
}
.main-btn {
  position: absolute;
  bottom: 20px;
  align-items: flex-end;
  width: 50px;
}
.main-btn img {
  width: 100%;
}

/* === Menu === */
.menu-wrap {
  position: fixed;
  right: 0;
  z-index: 100;
  height: 100vh;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
  ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
  }
  li {
    height: 100%;
  }
  a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

/* === Common group === */
.common-group {
  height: 100vh;
  transition: all 1s;
}

/* === Animations === */
@keyframes smoke-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes main-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes keyword-typing-effect {
  0% {
    border-right: 2px solid transparent;
  }
  100% {
    border-right: 2px solid $font-color;
  }
}

@media screen and(min-width: 1024px) {
}
