body {
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* === MAIN === */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#423148));
  background: linear-gradient(#fff, #423148);
}

main .main-bg {
  position: absolute;
  top: -100px;
  left: -100px;
  z-index: 0;
  width: calc(100% + 200px);
  height: calc(100% + 200px);
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.9;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

main h1 {
  position: absolute;
  color: #1d1720;
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 0 0 40px #e3d0eb;
  opacity: 0;
  line-height: 1.4;
  -webkit-animation: 0.5s linear 0.5s forwards main-text;
          animation: 0.5s linear 0.5s forwards main-text;
}

main .main-keyword {
  font-weight: 600;
}

.main-bg-smoke-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-bg-smoke {
  position: absolute;
  width: 300vw;
  height: 100vh;
  background: url("../images/smoke.png") center center repeat-x;
  background-size: cover;
}

.main-bg-smoke.first {
  -webkit-animation: 30s linear 0s infinite alternate smoke-move;
          animation: 30s linear 0s infinite alternate smoke-move;
  opacity: 0.2;
}

.main-bg-smoke.second {
  -webkit-animation: 20s linear 0s infinite alternate smoke-move;
          animation: 20s linear 0s infinite alternate smoke-move;
}

.main-btn {
  position: absolute;
  bottom: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50px;
}

.main-btn img {
  width: 100%;
}

/* === Menu === */
.menu-wrap {
  position: fixed;
  right: 0;
  z-index: 100;
  height: 100vh;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
}

.menu-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-wrap li {
  height: 100%;
}

.menu-wrap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

/* === Common group === */
.common-group {
  height: 100vh;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* === Skills === */
@-webkit-keyframes smoke-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}
@keyframes smoke-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@-webkit-keyframes main-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes main-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
