@charset "UTF-8";
body {
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* === MAIN === */
main {
  font-family: 'Noto Sans KR', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#423148));
  background: linear-gradient(#fff, #423148);
}

main .main-bg {
  position: absolute;
  top: -100px;
  left: -100px;
  z-index: 0;
  width: calc(100% + 200px);
  height: calc(100% + 200px);
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.9;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

main h1 {
  position: absolute;
  color: #1d1720;
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 0 0 40px #e3d0eb;
  opacity: 0;
  line-height: 1.4;
  text-align: left;
  -webkit-animation: 0.5s linear 0.5s forwards main-text;
          animation: 0.5s linear 0.5s forwards main-text;
}

main .main-keyword {
  padding-right: 5px;
  font-weight: 600;
  -webkit-animation: 0.6s linear infinite keyword-typing-effect;
          animation: 0.6s linear infinite keyword-typing-effect;
}

.main-bg-smoke-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-bg-smoke {
  position: absolute;
  width: 300vw;
  height: 100vh;
  background: url("../images/smoke.png") center center repeat-x;
  background-size: cover;
}

.main-bg-smoke.first {
  -webkit-animation: 30s linear 0s infinite alternate smoke-move;
          animation: 30s linear 0s infinite alternate smoke-move;
  opacity: 0.2;
}

.main-bg-smoke.second {
  -webkit-animation: 20s linear 0s infinite alternate smoke-move;
          animation: 20s linear 0s infinite alternate smoke-move;
}

.main-btn {
  position: absolute;
  bottom: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50px;
}

.main-btn img {
  width: 100%;
}

/* === Menu === */
.menu-wrap {
  position: fixed;
  right: 0;
  z-index: 100;
  width: 60px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
}

.menu-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-wrap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 60px;
  height: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-indent: -9999px;
}

.menu-wrap a img {
  width: 50%;
}

.menu-wrap .about {
  background: url("../images/chat.png") center no-repeat;
  background-size: 50%;
}

.menu-wrap .works {
  background: url("../images/code.png") center no-repeat;
  background-size: 50%;
}

.menu-wrap .contact {
  background: url("../images/mail.png") center no-repeat;
  background-size: 50%;
}

/* === Common group === */
.common-group {
  text-align: center;
}

.common-group h2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-weight: 400;
}

.common-group h2 span {
  display: inline-block;
}

.common-group h2 span::after {
  content: '';
  display: inline-block;
  width: 80%;
  height: 2px;
  margin: 25px auto 0px;
  background: #a2a1dc;
}

/* === Introduce === */
.introduce-wrap {
  position: relative;
  z-index: 1;
  /* === Skills === */
}

.introduce-wrap .introduce-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  line-height: 1.6;
}

.introduce-wrap .introduce-text-wrap .introduce-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #514862;
}

.introduce-wrap .introduce-text-wrap .introduce-title::before {
  content: '';
  display: block;
  width: 250px;
  height: 250px;
  position: absolute;
  background: #a2a1dc;
  z-index: -1;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  border-radius: 50%;
  opacity: 0.25;
}

.introduce-wrap .introduce-text-wrap .introduce-subtitle {
  margin-top: 50px;
  font-size: 1.8rem;
  color: #a2a1dc;
}

.introduce-wrap .introduce-text-wrap .introduce-text {
  margin-top: 50px;
  color: #555555;
}

.introduce-wrap .introduce-text-wrap .introduce-text::before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  background: #a2a1dc;
  z-index: -1;
  -webkit-transform: translate(-150%, -90%);
          transform: translate(-150%, -90%);
  border-radius: 50%;
  opacity: 1;
}

.introduce-wrap .introduce-text-wrap .introduce-link-wrap a {
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 50px 0 0;
  padding: 15px 35px;
  border: 2px solid #514862;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #514862;
}

.introduce-wrap .introduce-text-wrap .introduce-link-wrap a + a {
  margin-left: 5px;
}

.introduce-wrap .introduce-text-wrap .introduce-link-wrap a::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  opacity: 0.5;
  background: #a2a1dc;
}

.introduce-wrap .introduce-text-wrap .introduce-link-wrap a:hover {
  font-weight: 800;
}

.introduce-wrap .introduce-text-wrap .introduce-link-wrap a:hover::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #a2a1dc;
}

.introduce-wrap .skill-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.introduce-wrap .skill-text-wrap .skill-text {
  text-align: left;
  width: 50%;
  padding: 0 10px;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: keep-all;
}

.introduce-wrap .skill-text-wrap .skill-text strong {
  display: inline-block;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #514862;
}

.introduce-wrap .skill-text-wrap .skill-text strong .skill-icon {
  display: inline-block;
  margin: 0 2px 0 0;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-perspective: 100px;
          perspective: 100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background: #514862;
}

.introduce-wrap .skill-text-wrap .skill-text strong .skill-icon:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: #a2a1dc;
}

.introduce-wrap .skill-text-wrap .skill-text p {
  margin-top: 10px;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #555555;
}

/* === Works === */
.works-wrap {
  position: relative;
  background: #f2f2f2;
  overflow: hidden;
}

.works-wrap::before {
  content: '';
  display: block;
  width: 120%;
  height: 150px;
  position: absolute;
  top: -72px;
  -webkit-transform: rotate(2.5deg);
          transform: rotate(2.5deg);
  background: #fff;
}

.works-wrap .wrap-1200 {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  height: 700px;
}

.works-wrap .wrap-1200 .slide-wrap {
  position: absolute;
  top: 30%;
  width: 100%;
  padding: 0 20px;
}

.works-wrap .wrap-1200 .slide-wrap::after {
  content: '';
  display: block;
  clear: both;
}

.works-wrap .wrap-1200 .slide-wrap .slide {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.works-wrap .wrap-1200 .slide-wrap .slide .work-image-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  min-width: 350px;
  text-align: left;
}

.works-wrap .wrap-1200 .slide-wrap .slide .work-image-wrap figure {
  margin: 0;
  display: inline-block;
}

.works-wrap .wrap-1200 .slide-wrap .slide .work-image-wrap figure img {
  max-width: 100%;
}

.works-wrap .wrap-1200 .slide-wrap .slide .work-image-wrap .time {
  margin-top: 15px;
  font-weight: 600;
}

.works-wrap .wrap-1200 .slide-wrap .slide .work-image-wrap .time::before {
  content: '📅';
}

.works-wrap .wrap-1200 .slide-wrap .slide .work-image-wrap .topic {
  font-weight: 600;
}

.works-wrap .wrap-1200 .slide-wrap .slide .work-image-wrap .topic::before {
  content: '🥅';
}

.works-wrap .wrap-1200 .slide-wrap .slide .work-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.6;
  vertical-align: top;
  word-break: keep-all;
}

.works-wrap .wrap-1200 .slide-wrap .slide .work-text-wrap strong {
  display: block;
  margin-top: 20px;
  font-size: 2.4rem;
  color: #514862;
}

.works-wrap .wrap-1200 .slide-wrap .slide .work-text-wrap p {
  margin-top: 7px;
}

.works-wrap .wrap-1200 .slide-wrap .slide .work-text-wrap ul {
  margin-top: 7px;
}

.works-wrap .wrap-1200 .slide-wrap .slide .work-text-wrap .work-text {
  margin: 0 10px;
}

.works-wrap .wrap-1200 .slide-wrap .slide .work-text-wrap .work-text .paragraph:nth-of-type(1) strong {
  margin-top: 0;
}

.works-wrap .wrap-1200 .slide-wrap .slide .work-text-wrap .w50p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.works-wrap .wrap-1200 .slide-wrap .slide::after {
  content: '';
  display: block;
  clear: both;
}

.works-wrap .wrap-1200 .slide-indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.works-wrap .wrap-1200 .slide-indicator .slide-button {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  border-radius: 50%;
  font-size: 1.3rem;
  color: #ffffff;
  background: #a2a1dc;
}

.works-wrap .wrap-1200 .slide-indicator .active {
  background: #514862;
}

/* === Footer === */
.footer {
  overflow: hidden;
  display: block;
  position: relative;
  padding: 100px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  background: #514862;
}

.footer h2 {
  color: #ffffff;
}

.footer::before {
  content: '';
  display: block;
  width: 120%;
  height: 150px;
  position: absolute;
  top: -72px;
  -webkit-transform: rotate(2.5deg);
          transform: rotate(2.5deg);
  background: #f2f2f2;
}

.footer .form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 40%;
  max-width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .form-wrap .form-group {
  width: 47%;
  padding: 0;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .form-wrap .form-group label {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.footer .form-wrap .form-group input {
  width: 100%;
  margin-top: 8px;
  padding: 15px 10px;
  border-radius: 5px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .form-wrap .form-group input::-webkit-input-placeholder {
  font-size: 1.3rem;
}

.footer .form-wrap .form-group input:-ms-input-placeholder {
  font-size: 1.3rem;
}

.footer .form-wrap .form-group input::-ms-input-placeholder {
  font-size: 1.3rem;
}

.footer .form-wrap .form-group input::placeholder {
  font-size: 1.3rem;
}

.footer .form-wrap .form-group .email-warning {
  font-size: 1.1rem;
  visibility: visible;
  color: #fff69d;
}

.footer .form-wrap :nth-of-type(3) {
  width: 100%;
}

.footer .form-wrap :nth-of-type(3) textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 8px;
  padding: 15px 10px;
  border-radius: 5px;
}

.footer .form-wrap :nth-of-type(3) textarea::-webkit-input-placeholder {
  font-size: 1.3rem;
}

.footer .form-wrap :nth-of-type(3) textarea:-ms-input-placeholder {
  font-size: 1.3rem;
}

.footer .form-wrap :nth-of-type(3) textarea::-ms-input-placeholder {
  font-size: 1.3rem;
}

.footer .form-wrap :nth-of-type(3) textarea::placeholder {
  font-size: 1.3rem;
}

.footer .form-wrap .submit-button {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  padding: 15px 35px;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 50px;
}

.footer .form-wrap .submit-button:not(disabled)::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  opacity: 0.2;
}

.footer .form-wrap .submit-button:not(disabled):hover {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  font-weight: 400;
}

.footer .form-wrap .submit-button:not(disabled):hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.footer .form-wrap .submit-button:disabled {
  opacity: 0.3;
  -webkit-transition: none;
  transition: none;
}

.footer .form-wrap .submit-button:disabled:hover {
  cursor: not-allowed;
}

.footer .form-wrap .submit-button:disabled:hover::before {
  width: 0%;
  height: 100%;
}

.footer .form-wrap .thankyou_message {
  width: 100%;
  margin: 25px 0 0;
  font-size: 3.2rem;
  line-height: 1.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.footer .footer-bottom {
  margin-top: 35px;
  padding-bottom: 50px;
  color: #bebebe;
}

/* === Animations === */
@-webkit-keyframes smoke-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}
@keyframes smoke-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@-webkit-keyframes main-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes main-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes keyword-typing-effect {
  0% {
    border-right: 2px solid transparent;
  }
  100% {
    border-right: 2px solid #1d1720;
  }
}

@keyframes keyword-typing-effect {
  0% {
    border-right: 2px solid transparent;
  }
  100% {
    border-right: 2px solid #1d1720;
  }
}

@-webkit-keyframes move-slide {
  0% {
    -webkit-transform: translate(-200%, 0);
            transform: translate(-200%, 0);
  }
  100% {
    -webkit-transform: translate(-300%, 0);
            transform: translate(-300%, 0);
  }
}

@keyframes move-slide {
  0% {
    -webkit-transform: translate(-200%, 0);
            transform: translate(-200%, 0);
  }
  100% {
    -webkit-transform: translate(-300%, 0);
            transform: translate(-300%, 0);
  }
}
