@import 'variables';

body {
  transition: all 1s;
}

/* === MAIN === */
main {
  .main-bg {
    position: absolute;
    top: -100px;
    left: -100px;
    z-index: 0;
    width: calc(100% + 200px);
    height: calc(100% + 200px);
    object-fit: cover;
    opacity: 0.9;
    transition: all 0.3s linear 0s;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(#fff, #423148);
  h1 {
    position: absolute;
    color: $font-color;
    font-size: 4rem;
    font-weight: 400;
    text-shadow: 0 0 40px #e3d0eb;
    opacity: 0;
    line-height: 1.4;
    text-align: left;
    animation: 0.5s linear 0.5s forwards main-text;
  }
  .main-keyword {
    padding-right: 5px;
    font-weight: 600;
    // border-right: 1px solid red;
    animation: 0.6s linear infinite keyword-typing-effect;
  }
}

.main-bg-smoke-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main-bg-smoke {
  position: absolute;
  width: 300vw;
  height: 100vh;
  background: url('../images/smoke.png') center center repeat-x;
  background-size: cover;
}

.main-bg-smoke.first {
  animation: 30s linear 0s infinite alternate smoke-move;
  opacity: 0.2;
}
.main-bg-smoke.second {
  animation: 20s linear 0s infinite alternate smoke-move;
}
.main-btn {
  position: absolute;
  bottom: 20px;
  align-items: flex-end;
  width: 50px;
}
.main-btn img {
  width: 100%;
}

/* === Menu === */
.menu-wrap {
  position: fixed;
  right: 0;
  z-index: 100;
  height: 50vh;
  border-radius: 50px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
  ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  li {
    height: 100%;
  }
  a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

/* === Common group === */
.common-group {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  text-align: center;
  transition: all 1s;
  h2 {
    flex-basis: 100%;
    span {
      display: inline-block;
      &::after {
        content: '';
        display: inline-block;
        width: 80%;
        height: 2px;
        margin: 25px auto 0px;
        background: $sub-color;
      }
    }
  }
}

/* === Introduce === */
.introduce-wrap {
  > div {
    flex-basis: 50%;
  }
  .introduce-text-wrap {
    text-align: left;
    .introduce-text {
      margin-top: 20px;
    }
  }
  .introduce-title {
    font-size: 3.2rem;
    font-weight: 700;
    color: $point-color;
  }
}

/* === Skills === */
.skill-text {
  width: 33.3%;
  padding: 0 10px;
  text-align: center;
  box-sizing: border-box;
  strong {
    display: inline-block;
    .skill-icon {
      display: inline-block;
      margin: 0 2px 0 0;
      width: 45px;
      height: 45px;
      line-height: 45px;
      font-size: 3rem;
      font-weight: 400;
      text-align: center;
      color: #ffffff;
      transition: all 0.7s;
      perspective: 100px;
      transform-style: preserve-3d;
      background: $point-color;
      &:hover {
        transform: rotateY(180deg);
        background: $sub-color;
      }
    }
  }
  p {
    margin-top: 10px;
    font-size: 1.2rem;
  }
}

/* === Works === */
.works-wrap {
  // position: relative;
  justify-content: center;
  align-content: flex-start;
  .slide-wrap {
    width: 100%;
    position: relative;
    top: 0;
    // overflow: hidden;
    .slide {
      position: absolute;
      display: flex;
      flex-basis: 100%;
      width: 100%;
      
      // transform: translate(100%, 0);
      // transition: all 0.5s;
      figure {
        margin: 0;
      }
      .work-text-wrap {
        margin-left: 20px;

        text-align: left;
        font-size: 1.2rem;

        .w50p {
          float: left;
          box-sizing: border-box;
        }
      }
      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }
}
/* === Animations === */
@keyframes smoke-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes main-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes keyword-typing-effect {
  0% {
    border-right: 2px solid transparent;
  }
  100% {
    border-right: 2px solid $font-color;
  }
}

@media screen and(min-width: 1024px) {
}
