body {
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* === MAIN === */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#423148));
  background: linear-gradient(#fff, #423148);
}

main .main-bg {
  position: absolute;
  top: -100px;
  left: -100px;
  z-index: 0;
  width: calc(100% + 200px);
  height: calc(100% + 200px);
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.9;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

main h1 {
  position: absolute;
  color: #1d1720;
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 0 0 40px #e3d0eb;
  opacity: 0;
  line-height: 1.4;
  text-align: left;
  -webkit-animation: 0.5s linear 0.5s forwards main-text;
          animation: 0.5s linear 0.5s forwards main-text;
}

main .main-keyword {
  padding-right: 5px;
  font-weight: 600;
  -webkit-animation: 0.6s linear infinite keyword-typing-effect;
          animation: 0.6s linear infinite keyword-typing-effect;
}

.main-bg-smoke-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-bg-smoke {
  position: absolute;
  width: 300vw;
  height: 100vh;
  background: url("../images/smoke.png") center center repeat-x;
  background-size: cover;
}

.main-bg-smoke.first {
  -webkit-animation: 30s linear 0s infinite alternate smoke-move;
          animation: 30s linear 0s infinite alternate smoke-move;
  opacity: 0.2;
}

.main-bg-smoke.second {
  -webkit-animation: 20s linear 0s infinite alternate smoke-move;
          animation: 20s linear 0s infinite alternate smoke-move;
}

.main-btn {
  position: absolute;
  bottom: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50px;
}

.main-btn img {
  width: 100%;
}

/* === Menu === */
.menu-wrap {
  position: fixed;
  right: 0;
  z-index: 100;
  height: 50vh;
  border-radius: 50px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
}

.menu-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-wrap li {
  height: 100%;
}

.menu-wrap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

/* === Common group === */
.common-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 100vh;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.common-group h2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.common-group h2 span {
  display: inline-block;
}

.common-group h2 span::after {
  content: '';
  display: inline-block;
  width: 80%;
  height: 2px;
  margin: 25px auto 0px;
  background: #a28ec9;
}

/* === Introduce === */
.introduce-wrap > div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.introduce-wrap .introduce-text-wrap {
  text-align: left;
}

.introduce-wrap .introduce-text-wrap .introduce-text {
  margin-top: 20px;
}

.introduce-wrap .introduce-title {
  font-size: 3.2rem;
  font-weight: 700;
  color: #423148;
}

/* === Skills === */
.skill-text {
  width: 33.3%;
  padding: 0 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.skill-text strong {
  display: inline-block;
}

.skill-text strong .skill-icon {
  display: inline-block;
  margin: 0 2px 0 0;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-perspective: 100px;
          perspective: 100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background: #423148;
}

.skill-text strong .skill-icon:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: #a28ec9;
}

.skill-text p {
  margin-top: 10px;
  font-size: 1.2rem;
}

/* === Works === */
.works-wrap {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  overflow: hidden;
}

.works-wrap .slide-wrap {
  width: 100%;
  position: relative;
  top: 0;
}

.works-wrap .slide-wrap .slide {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
}

.works-wrap .slide-wrap .slide figure {
  margin: 0;
}

.works-wrap .slide-wrap .slide .work-text-wrap {
  margin-left: 20px;
  text-align: left;
  font-size: 1.2rem;
}

.works-wrap .slide-wrap .slide .work-text-wrap .w50p {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.works-wrap .slide-wrap .slide::after {
  content: '';
  display: block;
  clear: both;
}

.works-wrap .slide-indicator {
  position: absolute;
  bottom: 50px;
}

.works-wrap .slide-indicator .slide-button {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  background: #a28ec9;
}

/* === Animations === */
@-webkit-keyframes smoke-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}
@keyframes smoke-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@-webkit-keyframes main-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes main-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes keyword-typing-effect {
  0% {
    border-right: 2px solid transparent;
  }
  100% {
    border-right: 2px solid #1d1720;
  }
}

@keyframes keyword-typing-effect {
  0% {
    border-right: 2px solid transparent;
  }
  100% {
    border-right: 2px solid #1d1720;
  }
}

@-webkit-keyframes move-slide {
  0% {
    -webkit-transform: translate(-200%, 0);
            transform: translate(-200%, 0);
  }
  100% {
    -webkit-transform: translate(-300%, 0);
            transform: translate(-300%, 0);
  }
}

@keyframes move-slide {
  0% {
    -webkit-transform: translate(-200%, 0);
            transform: translate(-200%, 0);
  }
  100% {
    -webkit-transform: translate(-300%, 0);
            transform: translate(-300%, 0);
  }
}
